<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<div th:if="${param.error}" style="color: red">
  The Player Name or Password is incorrect!
</div>
<div th:if="${param.logout}" style="color: red">
  You have been logged out.
</div>

<form th:action="@{/login}" method="post">
  <div><label> Player Name: <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Sign In"/></div>
</form>

<a href="/home"><BUTTON>Home</BUTTON></a>

</body>
</html>