<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form
        data-th-object="${newpassword}"
        method="post"
        data-th-action="@{/login/new-password}"
        action="/login/new-password"
>
    <label>
        <strong>Password</strong>
        <input type="password" name="" id="password">
    </label>
    <label>
        <strong>Confirm Password</strong>
        <input type="password" name="" id="confirmpassword">
    </label>
    <button id="your-id">submit</button>
</form>

</body>
</html>