<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>New Player</h1>
<form
        data-th-object="${newuser}"
        method="post"
        data-th-action="@{/registration}"
        action="/registration"
>
    <label for="playername">Player Name</label>
    <input id="playername" type="text" data-th-field="*{name}">
    <p
            style="color: red;"
            data-th-if="${#fields.hasErrors('name')}"
            data-th-errors="*{name}"
    ></p>
<!--    <p th:if="${dbError}" class="error">Wrong user or password</p>-->

    <label for="email">Email</label>
    <input id="email" type="email" data-th-field="*{email}">
    <p
            style="color: red;"
            data-th-if="${#fields.hasErrors('email')}"
            data-th-errors="*{email}"
    ></p>

    <label for="password">Password</label>
    <input id="password" type="password" data-th-field="*{password}">
    <p
            style="color: red;"
            data-th-if="${#fields.hasErrors('password')}"
            data-th-errors="*{password}"
    ></p>

    <input type="submit" value="Save">
</form>
<a href="/home"><BUTTON>Home</BUTTON></a>
</body>
</html>